In [3]:
B=["a","b","c"]
A=(0,1,2,3)

In [5]:

print(B[1:])

['b', 'c']

Tuple

In [37]:
tpl1 =("dadu dua", 10, 1.4)
print(tpl1[0])
print(tpl1[2])
print(tpl1[0].split())

dadu dua
1.4
['dadu', 'dua']

In [13]:
tpl2 = tpl1 + ("hard rock", 30)
print(tpl2)
print(tpl2[0:3]) #menampilkan dari nilai array 0 sampai 3
print(tpl2[3:5]) #menampilkan dari nilai array 3 sampai 5
print(len(tpl2)) #panjang dari tuple

('dadu', 10, 1.4, 'hard rock', 30)
('dadu', 10, 1.4)
('hard rock', 30)
5

Lists

L.extend(["pops",10]) nantinya akan memisah menjadi 2 posisi array dan
L.append(["pops",10]) nantinya akan menjadi 1 nilai posisi array

In [20]:
L = ["JOshua",10.25, 2000, [1,2], ('A',1)]
print(L[0])# untuk biasanya kita akan memanggil nilainya dengan menyertakan nilai dari indexnya, akan tetapi dalam Lists bisa dimulai dengan index -(negatif)
print(L[-5], L[-1])

JOshua
JOshua ('A', 1)

In [25]:
L2 = L +["pops", 102]

print(L2,"jumlah = ",len(L2))

['JOshua', 10.25, 2000, [1, 2], ('A', 1), 'pops', 102, 'pops', 102] jumlah =  9

Lists Aliasing

In [39]:
A = ["hard rock", 10.10, 12]
B = A

A[0] = "Bananana"

print(B)

['Bananana', 10.1, 12]

Lists Clone

In [41]:
A = ["hard rock", 10.10, 12]
B = A[:]
print(B)

['hard rock', 10.1, 12]

Sets

In [44]:
#berguna untuk menyeleksi jika terdapat sting yang sama

name_set = ["Joshua", "Wibrian", "Lucas", "Ruth", "Wibrian", "Joshua"]
print(set(name_set))

{'Ruth', 'Wibrian', 'Lucas', 'Joshua'}

In [53]:
#Set operasi

A={"JO","WI","LU","RU"}
C={"JO","FI","WI","MA"}
A.add("DI") #untuk menambah String DI

print(A)
B = ("JO" in A) # cek status apakah berada di A atau tidak
print(B)
A.remove("RU") # Untuk meremove String RU
print (A)

D = A.union(C) #menggabungkan seperti diagram vent
print(D)

E = D.issubset(A) # akan mengeluarkan hasil yang false karena set di album D tidak sama dengan A
print(E)

{'LU', 'WI', 'JO', 'DI', 'RU'}
True
{'LU', 'WI', 'JO', 'DI'}
{'FI', 'LU', 'WI', 'JO', 'DI', 'MA'}
False

Dictionaries

In [43]:
Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F' :6}
print(Dict["D"])

(4, 4, 4)

In [56]:
D={'a':0,'b':1,'c':2}
print(D.values())

D={'a':0,'b':1,'c':2}
print(D['b'])

dict_values([0, 1, 2])
1

In [81]:
Data = {"Graud:":1923, "Black bag:":8302, "wakaranai: ":9313, "the ring bell:":9302}

print(Data["Graud:"]) #menampilkan data yang diminta
Data["Graduation"]='2023' #menambah data
print(Data)
del(Data["Graud:"]) #menghapus data
print(Data)
print("wakaranai: " in Data) #mengseleksi apakah Wakaranai: ada didalam Data
print("Graud:" in Data) #karena sebelumnya data graud dihapus

print(Data.keys()) #menampilkan semua data
print(Data.values()) #menampilkan nilai yang dimiliki data

1923
{'Graud:': 1923, 'Black bag:': 8302, 'wakaranai: ': 9313, 'the ring bell:': 9302, 'Graduation': '2023'}
{'Black bag:': 8302, 'wakaranai: ': 9313, 'the ring bell:': 9302, 'Graduation': '2023'}
True
False
dict_keys(['Black bag:', 'wakaranai: ', 'the ring bell:', 'Graduation'])
dict_values([8302, 9313, 9302, '2023'])